# HRTF impulse response files - proprietary, not redistributable
*.wav

# direnv local cache
.direnv/

# nix build output symlink
result
result-*

# Normalize
.normalize/*
!.normalize/config.toml
!.normalize/duplicate-functions-allow
!.normalize/duplicate-types-allow
!.normalize/hotspots-allow
!.normalize/large-files-allow
!.normalize/memory/
