:root, html, body {
	/*--system-wide-fg: rgb(32 32 32 / 60);
	--system-wide-fg-2: rgb(48 48 48 / 60);
	--system-wide-fg-3: rgb(64 64 64 / 60);*/
	--system-wide-fg: rgb(255 255 255 / 60);
	--system-wide-fg-2: rgb(240 240 240 / 60);
	--system-wide-fg-3: rgb(224 224 224 / 60);
	background: transparent !important;
	color: var(--system-wide-fg);
	color-scheme: dark light;
}

::selection {
	background-color: lch(50 0 0 / 75%) !important;
}

@-moz-document domain(google.com) {
	* { background: transparent !important; }
	.aajZCb {
		background: lch(0 0 0 / 0.5) !important;
	}
	.gb_Ad.gb_db.gb_pd > div:last-child {
		border-radius: 32px !important;
		background: lch(0 0 0 / 0.7) !important;
	}
}

@-moz-document domain(www.youtube.com) {
	:root {
		--yt-spec-base-background: transparent !important;
		--darkreader-bg--yt-spec-base-background: transparent !important;
	}
	#cinematics { display: none; }
}

@-moz-document domain(tio.run) {
	textarea, #search { background: #20202080 !important; }
	nav { background: #38383850 !important; }
	nav > * { background: #30303050 !important; }
	#messages { background: rgba(56, 56, 56, 0.4) !important; }
}

@-moz-document domain(discord.com) {
	body, .appMount_fae9dd {
		letter-spacing: 0.03em;
		/*--text-normal: var(--system-wide-fg);
		--text-muted: var(--system-wide-fg-3);
		--header-primary: var(--system-wide-fg);
		--header-secondary: var(--system-wide-fg-2);
		--interactive-active: var(--system-wide-fg);
		--channels-default: var(--system-wide-fg-3);*/
	--font-primary: 'Unicorn Scribbles', 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: 'Unicorn Scribbles', 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-code: 'FantasqueSansM Nerd Font', 'gg mono', 'Source Code Pro', Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace;
	--bg-overlay-chat: transparent;
	--bg-overlay-app-frame: transparent;
	--bg-overlay-2: transparent;
	--background-primary: lch(10 0 0 / 0.5);
	--background-secondary: transparent;
	--background-secondary-alt: lch(8 0 0 / 0.3);
	--background-tertiary: transparent;
	--background-modifier-accent: transparent;
	--channeltextarea-background: transparent;
}
}

@-moz-document domain(github.com) {
	:root {
		/*--bgColor-default: transparent !important;
		--bgColor-muted: transparent !important;
		--bgColor-inset: transparent !important;
		--color-canvas-inset: #01040940 !important;
		--color-scale-gray-5: #484f5840 !important;
		--color-scale-gray-6: #30363d40 !important;
		--color-scale-gray-7: #21262d40 !important;
		--color-scale-gray-8: #161b2240 !important;
		--color-scale-gray-9: #0d111740 !important;*/
}

.merge-status-list {
	max-height: 1200px !important;
	display: flex;
	flex-direction: column;
}

/* Failed required tasks */
.merge-status-item:has(.color-fg-danger):has(.Label--primary) {
	order: -1
}

/* Running required tasks */
.merge-status-item:has(svg.anim-rotate):has(.Label--primary) {
	order: 0
}

/* Queued required tasks */
.merge-status-item:has(svg.hx_dot-fill-pending-icon):has(.Label--primary) {
	order: 1;
}

/* Successfull Required tasks */
.merge-status-item:has(.Label--primary) {
	order: 2;
}

/* Failed optional tasks */
.merge-status-item:has(.color-fg-danger) {
	order: 3
}

/* Pending optional tasks */
.merge-status-item:has(svg.anim-rotate) {
	order: 4
}

/* Queued optional tasks */
.merge-status-item:has(svg.hx_dot-fill-pending-icon) {
	order: 5;
}

/* The rest */
.merge-status-item {
	order: 6
}
}

/* fixme: doesn't properly match this page */
@-moz-document url(about:config) {
	@media (prefers-color-scheme: dark) {
		:host(:is(.anonymous-content-host, notification-message)), :root {
			--in-content-page-background: rgb(28 27 34 / 0.25);
		}
	}
}

/* fixme: doesn't properly match this page */
@-moz-document url("about:newtab") {
	:root {
		--newtab-background-color-secondary: #42414d40 !important;
	}

	.top.site-outer:has(.title.sponsored) { display: none; }
}

@-moz-document domain(localhost) {
	.monaco-workbench, #workbench\.parts\.titlebar {
		background-color: transparent !important;
	}
}

@-moz-document domain(en.wikipedia.org) {
	@media screen {
		body, .mw-page-container, .vector-pinned-container, .vector-header-container .mw-header, .vector-header-container .vector-sticky-header { background-color: transparent !important; }
		pre, code, .mw-code { background-color: lch(100 0 0 / 0.2) !important; border: none !important; }
	}
}

@-moz-document domain(192.168.1.1) {
	#mainBody {
		#top, #main, #base-inner, #pc-top, #pc-scroll { background: transparent !important; }
		div.search-input-wrapper, #menuTree li.ml1 a, div.top-nav ul li.selected span.text, div.top-nav.disabled ul li.selected span.text { background: lch(100 0 0 / 0.2) !important; }
		ul.search-input-drop li, div.msg-container-wrapper { background: lch(10 0 0 / 0.7) !important; }
		ul.search-input-drop li.hover { background: lch(30 0 0 / 0.7) !important; }
		div.wizard-container div.wizard-btn button.button-button, div.msg-btn-container div.button-container button.button-button, div.button-container.submit button.button-button, button.button-button { background: lch(40 30 260 / 0.7) !important; }
		:is(div.wizard-container div.wizard-btn button.button-button, div.msg-btn-container div.button-container button.button-button, div.button-container.submit button.button-button, button.button-button):hover { background: lch(50 30 260 / 0.7) !important; }
		#menuTree li.ml1 a.sel { background: lch(100 0 0 / 0.4) !important; }
		* { color: white !important; }
		#menu span.icon { filter: brightness(100); }
		div.map-icon-internet, div.map-icon-internet-conn, div.map-icon-wireless, div.map-icon-wire, div.map-icon-phone, div.map-icon-usb, div.map-icon-router { filter: brightness(2); }
		span.map-icon-num { color: black !important; }
		div.help-content-container { background-color: rgb(0 0 0 / 75%) !important; }
	}
}

@-moz-document domain(pavpanchekha.com) {
	html, h1, h2, h3 { color: white !important; }
	pre, code { color: #bbbbbb !important; }
}

/* openvscode-server */
@-moz-document url-prefix(http://localhost:3000/) {
	:root {
		--transparent-highlight: #b0d0ff20;
		--transparent-highlight-light: #e0f0ff80;
		--transparent-highlight-lighter: #e0f0ffb0;
		--transparent-highlight-light-fg: #0e0f1080;
		--transparent-highlight-dark: #0e0f1080;
	}

	.monaco-workbench .editor-container,
	.monaco-workbench .part > .content,
	.monaco-workbench .part.editor > .content .editor-group-container,
	.monaco-workbench .part.editor > .content .editor-group-container > .title,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab,
	.monaco-workbench .part.statusbar,
	.monaco-editor .sticky-widget-lines-scrollable,
	.monaco-editor .sticky-widget-lines,
	.monaco-editor .sticky-widget-line,
	.monaco-editor .sticky-line-content,
	.monaco-editor .sticky-widget-line-numbers,
	.monaco-editor .sticky-line-number {
		background-color: transparent !important;
	}

	.monaco-editor .selected-text {
		opacity: 60%; /* hacky workaround for background-color that is solid now for some reason */
	}

	.monaco-workbench .part.titlebar,
	.monaco-workbench .part.activitybar,
	.monaco-workbench .part.sidebar,
	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab {
		border-color: transparent !important;
	}

	.monaco-workbench .part.editor > .content .editor-group-container > .title > .tabs-and-actions-container{
		--tabs-border-bottom-color: transparent !important;
	}

	.monaco-workbench .part.statusbar {
		--status-border-top-color: transparent !important;
	}

	.monaco-workbench .part.activitybar,
	.monaco-workbench .part.sidebar {
		background-color: transparent !important;
	}

	.monaco-editor .minimap > canvas:first-of-type {
		opacity: 50%;
	}

	.monaco-workbench .part.editor > .content .editor-group-container > .title .tabs-container > .tab.active {
		background-color: var(--transparent-highlight) !important;
	}

	.monaco-workbench {
		--vscode-editor-background: transparent !important;
		--vscode-editor-inactiveSelectionBackground: transparent !important;
		--vscode-sideBar-background: transparent !important;
		--vscode-editorGutter-background: transparent !important;
		--vscode-sideBarSectionHeader-background: transparent !important;
		--vscode-breadcrumb-background: transparent !important;
		--vscode-editorStickyScroll-background: var(--transparent-highlight) !important;
		--vscode-badge-background: var(--transparent-highlight-light) !important;
		--vscode-badge-foreground: var(--transparent-highlight-light-fg) !important;
		--vscode-extensionButton-background: var(--transparent-highlight-light) !important;
		--vscode-extensionButton-prominentHoverBackground: var(--transparent-highlight-lighter) !important;
		--vscode-extensionButton-prominentForeground: var(--transparent-highlight-light-fg) !important;
		--vscode-statusBarItem-remoteBackground: var(--transparent-highlight-light) !important;
		--vscode-commandCenter-inactiveBorder: transparent !important;
		--vscode-quickInput-background: var(--transparent-highlight-dark) !important;
		--vscode-quickInputList-focusBackground: var(--transparent-highlight) !important;
	}
}


@-moz-document domain(analytics.google.com) {
	* { background: lch(0 0 0 / 0.05) !important; }
	mdx-slider-container, xap-slider-container {
		background: lch(0 0 0 / 0.75) !important;
	}
}

@-moz-document domain(wikipedia.org) {
	.mw-parser-output span.cs1-maint { display: inline; } /* display Citation Style 1 maintenance messages */
	.mw-parser-output span.cs1-hidden-error { display: inline; } /* display hidden Citation Style 1 error messages */
}
